/* social plugins starts here */
.social ul {
  list-style-type: none;
  /* border: 1px solid black; */
  width: 15%;
  margin: 10px auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  right: 40px;
}

.social ul li {
  padding: 1%;
  /* border: 1px solid red; */
}

/* social plugin ends here */

/* footer starts here */

.container-footer {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 50px;
}
/* footer ends here */
.container-footer img {
  margin-left: 20px;
}
